.buy-now-button{
    background-color: #000000;
    color: #FFF;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 20px;
}
.carousel-indicators li{
    background-color: orange;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray; 
    text-align:center;
} 
.see{
    float: right;
    color: orange;
    font-size: 20px;
}
.headline{
    padding-top: 50px;
    padding-bottom: 50px;
}